* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins Regular";
}

html,
body {
  height: 100%;
  width: 100%;

}
body{
    overflow-x: hidden;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #222;
}

/* #nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
}

#nav-part-2{
    display: flex;
    align-items: center;
    gap: 50px;
}

#main h1 {
    font-size: 120px;
    line-height: 140px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 2;
}

#main h1:nth-child(2){
    margin-top: 180px;
}

#main h1:nth-child(3){
    text-align: center;
}

#main h1:nth-child(4){
    text-align: right;
}

#main img{
    position: absolute;
    width: 400px;
    height: 600px;
    top: 15%;
    left: 40%;
    border-radius: 12px;
}

#img1{
    rotate: 20deg;
}

#img2{
    rotate: 10deg;
} */

#page1 {
  width: 100%;
  height: 100%;
  background-color: rgb(172, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2 {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 243, 172);
  display: flex;
  align-items: center;
}
#page3 {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 196, 172);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(rgb(255, 159, 159), rgb(146, 146, 255));
} */


#page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
}

#page2 h1{
    font-size: 45vw;
}