* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins Regular";
}

html,
body {
  width: 100%;
  height: 100%;
  /* cursor: none; */
  color: #ffffff;
}

#cursor {
  position: fixed;
  width: 2vw;
  height: 2vw;
  /* background-color: rgb(211, 211, 211); */
  z-index: 99999;
  border-radius: 50%;
  border: 1px solid rgb(211, 211, 211);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  text-transform: uppercase;
  padding: 10vw;
}
#loader-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
}
#loader-progress h5,
#loader-progress h6 {
  font-size: 2vw;
  font-style: italic;
}
#loader-progress h5 {
  width: 3.4vw;
  text-align: right;
}
.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  overflow: hidden;
  gap: 2vw;
}
.line h1 {
  font-size: 6vw;
}
.line h2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 17vw;
  font-size: 6vw;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#main {
  position: relative;
  background-color: #0b0b0b;
}

#page-1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
#nav {
  /* background-color: red; */
  width: 100%;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-items {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.hero {
  width: 70%;
  margin-left: 30%;
  position: relative;
  z-index: 3;
}

.hero h1 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 7.5vw;
  position: relative;
  z-index: 3;
}

.hero:nth-child(2) {
  margin-top: 12vh;
}

#hero-work span:nth-child(2n + 1) {
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: white;
  -webkit-text-stroke: 0px transparent;
  box-shadow: inset 0px -7px 0px 0px white;
}

#hero-work span:nth-child(2n + 1):hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  box-shadow: none;
}

#hoverEl {
  position: absolute;
  width: 400px;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1664403489326-0591c36be436?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=735");
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 1;
  opacity: 0;
}
/* Page-2 */

#page-2 {
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 5vw;
  display: flex;
  justify-content: flex-end;
}

#video-container {
  position: relative;
  width: 60vw;
  height: 85%;
  background-color: white;
}
#thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

#video-cursor {
  position: absolute;
  z-index: 3;
  height: 7vw;
  width: 7vw;
  background-color: orange;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  pointer-events: none;
}

#page-3 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(37, 37, 37);
  position: relative;
}
#page-4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 10vh 2vw;
  display: flex;
  justify-content: flex-end;
}
.underline {
  width: 100%;
  height: 0.05vw;
  background-color: #ffffff;
  margin: 3vw 0vw;
}
#page-4-wrapper {
  width: 72vw;
  position: relative;
}
#page-4-wrapper h1 {
  font-size: 6vw;
}
#page-4-wrapper p {
  margin-top: 4vw;
  width: 55%;
  font-size: 2vw;
}
.page-4-flex {
  display: flex;
  gap: 2vw;
}
.page-4-flex p {
  font-size: 1vw !important;
  width: 25% !important;
}
.page-4-flex img {
  width: 47%;
  height: 55%;
  margin: 3vw 0vw;
}
.blue-div-wrap {
  height: 40vw;
  width: 50%;
  background-color: #3f7df4;
  position: relative;
  top: -20vw;
  left: 23vw;
  padding: 5vw 3vw;
}
.blue-div-elem {
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid white;
}
.blue-div-elem h1 {
  font-size: 1.5vw !important;
  padding: 1vw 1vw;
}
.blue-div-elem p {
  font-size: 1vw !important;
  width: 40% !important;
  margin: 0 !important;
}
.underline-1 {
  width: 100%;
  height: 0.05vw;
  background-color: #ffffff;
  position: relative;
  bottom: 10vw;
  /* margin: -1vw 0vw; */
}
#page-5 {
  width: 100%;
  min-height: 100vh;
  padding: 7vw 0vw;
}
.carousel{
  /* background-color: red; */
  white-space: nowrap;
  overflow: hidden;
}
.text-1 {
  font-size: 6vw;
  display: inline-block;
  /* background-color: red; */
  animation-name: carouselAnim;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-right: 16px;
  text-transform: uppercase;
  font-style: italic;
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.text-2 {
  font-size: 6vw;
  display: inline-block;
  /* background-color: red; */
  animation-name: carouselAnim;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  margin-right: 16px;
  text-transform: uppercase;
  font-style: italic;
  -webkit-text-stroke: 1px white;
  color: transparent;
}


@keyframes carouselAnim{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX( calc(-100% - 20px));
  }
}

@keyframes textAnimation {
  0% {
    font-family: sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 900;
    opacity: 1;
  }
  47% {
    font-family: sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-style: italic;
    font-weight: 900;
    opacity: 0;
  }
  50% {
    font-family: "Poppins Regular";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 900;
    opacity: 1;
  }
  100% {
    font-family: "Poppins Regular";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-style: italic;
    font-weight: 900;
    opacity: 0;
  }
}
